@media (max-width: 600px) {
    /* .container {
      max-width: 100%;
    } */
    
    .form-group .phone-email {
      grid-template-columns: 1fr;
    }
  }
  @media (max-width:500px){
    .centered .ourh1{
      color:white;
      font-size: 10px;
      font-family: 'Style Script', cursive;
    
    }
    .centered {
      margin-top: 93px;
      position: absolute;
      top: 20%;
      left: 25%;
      transform: translate(-50%, -50%);
      }
  }